---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v1/places?apiKey=<GEOAPIFY_KEY>&categories=tourism&filter=circle:2.3522,48.8566,3000&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"statusCode":400,"error":"Bad Request","message":"\"type\" is required"}'
  recorded_at: Mon, 10 Jun 2024 15:45:21 GMT
recorded_with: VCR 6.2.0
